.tearDashBigger {
  position: absolute;
  width: 126px;
  height: 126px;
  left: 4vw;
  top: 15vh;
  border-radius: 0 50% 50% 50%;
  background: linear-gradient(180deg, #ffc700 0%, rgba(255, 199, 0, 0.6) 100%);
}
@media (max-width: 768px) {
  .tearDashBigger {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 75%;
    top: 17%;
    border-radius: 0 50% 50% 50%;
    background: linear-gradient(
      180deg,
      #ffc700 0%,
      rgba(255, 199, 0, 0.6) 100%
    );
  }
}
.tearDashMinor {
  position: absolute;
  width: 63px;
  height: 63px;
  left: 5vw;
  top: 12vh;
  border-radius: 0 50% 50% 50%;
  background: #ffb800;
}
@media (max-width: 768px) {
  .tearDashMinor {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 78%;
    top: 15%;
    border-radius: 0 50% 50% 50%;
    background: rgba(255, 184, 0, 1);
  }
}
