div.MuiDialogContent-root {
  background-color: rgba(106, 64, 228, 1);
  color: #fff;
}

.MuiPaper-elevation24 {
  background-color: #6a40e4 !important;
}
.MuiInputBase-input,
.MuiOutlinedInput-input {
  color: #fff !important;
}

.MuiInputLabel-shrink,
.MuiInputLabel-outlined,
.MuiFormLabel-filled {
  color: #fff !important;
}
